button .fab {
  font-weight: 700;
}

.form-control {
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  background: rgba(255, 255, 255, .2);
}

/* Small (sm) */
@media (min-width: 640px) {
  /* ... */
}

/* Medium (md) */
@media (min-width: 768px) {
  /* ... */
}

/* Large (lg) */
@media (min-width: 1024px) {
  /* ... */
}

/* Extra Large (xl) */
@media (min-width: 1280px) {
  /* ... */
}